
/**
 * FullStory logo.
 */

.logo[data-logo="FullStory"] {
  width: 3.203779786359901em;
}

.logo[data-logo="FullStory"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="FullStory"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="FullStory"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}